body {
    overflow-y: scroll;
}

.w-tracks {
    label {
        display: block;
        width: 100px;
    }

    input[type="checkbox"] {
        float: right;
        margin-top: 3px;
    }
}

.w-sequencer {
    label {
        float: left;
        margin-right: 10px;
    }

    input {
        margin: 0px 3px;

        &:nth-of-type(4n) {
            margin-right: 10px;
        }
    }
}
