body {
    overflow-y: scroll;
}

.page-content {
    background: #ebebeb;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1) inset;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

.controls {
    clear: both;
    margin-top: 10px;
    text-align: right;

    button {
        background: #f3f3f3;
        border: 1px solid #ddd;
        border-radius: 15px;
        font-size: 12px;
        margin-left: 10px;
        padding: 10px;

        &:hover {
            background: #f3f3f3;
        }
    }
}

.w-sequencer {
    .row {
        clear: both;

        label {
            background: #f3f3f3;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: inline-block;
            font-size: 12px;
            margin-right: 10px;
            padding: 3px 10px;
            text-align: right;
            width: 100px;
        }

        input[type='checkbox'] {
            -webkit-appearance: none;
            background: red;
            cursor: pointer;
            height: 15px;
            width: 15px;

            &:checked{
                background: white;
            }
        }

        input {
            list-style: none;
            margin: 0px 3px;

            &:nth-of-type(4n) {
                margin-right: 10px;
            }
        }
    }
}
